<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мои заметки</title>
</head>
<body>

<h2>Привет, {{name}}!</h2>
<a href="{{ url_for('sign_out') }}">Выйти</a>

<h3>Добавить заметку</h3>
<form method="post" action="{{ url_for('add_note') }}">
    <input type="text" name="note" placeholder="Введите текст">
    <button type="submit">Добавить</button>
</form>

<h3>Заметки</h3>
<ul>
    {% for note_id, note in notes.items() %}
    {% if note.strip() != '' %}
    <li>
        <span> {{ note }}</span>
        <form method="post" action="{{ url_for('delete_note') }}" style="display: inline-block;">
            <input type="hidden" name="note_id" value="{{ note_id }}">
            <button type="submit" class="delete-button">✖</button>
        </form>
    </li>
    {% endif %}
    {% endfor %}
</ul>

</body>
</html>